<div class="toolbar" role="banner">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#eee" width="24px" height="24px"
    style="margin: 0 10px;">
    <path d="M0 0h24v24H0z" fill="none" />
    <path d="M21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H3V5h10v4h8v10z" />
  </svg>

  <span>New tab</span>

  <div class="spacer"></div>


  <div class="dropdown" style="float:right;">
    <button class="dropbtn">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#eee" width="30px" height="30px">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
        </svg>
      </span>
    </button>
    <div class="dropdown-content">
      <a (click)="actionShowHideDateTime()">Show/Hide Date and time</a>
      <a (click)="actionShowHideIpAndLocation()">Show/Hide IP and Location</a>
      <a (click)="actionShowHideUSDbyBRL()">Show/Hide USD by BRL</a>
    </div>
  </div>


</div>


<div class="content" role="main">

  <div class="dateTime">
    <ng-container *ngIf="showHideDateTime">
      <div class="fadeIn" id="real-clock" style="font-size: 40px;"></div>
      <p class="fadeIn" style="font-size: 22px;">{{dataHora}}</p>
    </ng-container>
    <ng-container *ngIf="showHideIpAndLocation">
      <p class="fadeIn" style="margin-top: 15px;">IP:{{ipAdress}}</p>
      <p class="fadeIn">{{location?.city}}, {{location?.region}}</p>
    </ng-container>
  </div>

  <h2>Tasks works</h2>
  <p>Here are some list of tasks everyday</p>

  <br>

  <div class="card-container">
    <button class="card boxShadow-md" (click)="setFocusToTextBox()">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" fill="#888" viewBox="0 0 24 24" width="24px"
        height="24px">
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>

      <span>Create a new task</span>
    </button>
  </div>

  <br>
  <br>

  <p><b>What task do you want to do next now?</b></p>


  <div class="terminal boxShadow-3xl ">
    <span *ngIf="tasksList.length == 0">$ Congratulations no task for today </span>
    <span *ngFor="let item of tasksList" (mouseover)='mouseOver(item.id)' (mouseout)='mouseOut(item.id)'>
      <label [class.tachado]="!item.status">
        $ {{item.context}}
      </label>

      <button class="btn-submit" type="button" (click)="onUpdate(item)" *ngIf="item.status" id="btn-{{item.id}}"
        style="display: none; margin-top: -4px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#eee" width="20px" height="20px">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" /></svg>
      </button>

      <button class="btn-submit" type="button" (click)="onRemove(item)" *ngIf="!item.status" id="btn-{{item.id}}"
        style="display: none; margin-top: -4px;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#eee" width="20px" height="20px">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
        </svg>
      </button>
    </span>

    <div class="form-control" *ngIf="viewTextArea">
      <hr>
      <form (ngSubmit)="onSubmit()" style="padding: 10px 0;">
        <label>$</label>
        <input class="input-terminal" id="input-terminal" type="text" [(ngModel)]="task.context" name="context">
        <button class="btn-submit" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#eee" width="20px" height="20px">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M19 7v4H5.83l3.58-3.59L8 6l-6 6 6 6 1.41-1.41L5.83 13H21V7z" /></svg>
        </button>
      </form>
    </div>
  </div>



  <p>Task given is task completed</p>

  <div class="moneyInfo fadeIn" *ngIf="showHideUSDbyBRL" >
    USD/BRL today
    <div style="font-size: 40px;">$ {{dolarToday}}</div>
  </div>


  <div class="footer">

    <p style="text-align: center;">Added datas are saved to localstorage, and can be lost by closing the browser</p>
    <p style="text-align: center; margin-top: 10px;">
      <a href="https://github.com/nikolassoares/new-tab">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#666666" viewBox="0 0 24 24"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-4.466 19.59c-.405.078-.534-.171-.534-.384v-2.195c0-.747-.262-1.233-.55-1.481 1.782-.198 3.654-.875 3.654-3.947 0-.874-.312-1.588-.823-2.147.082-.202.356-1.016-.079-2.117 0 0-.671-.215-2.198.82-.64-.18-1.324-.267-2.004-.271-.68.003-1.364.091-2.003.269-1.528-1.035-2.2-.82-2.2-.82-.434 1.102-.16 1.915-.077 2.118-.512.56-.824 1.273-.824 2.147 0 3.064 1.867 3.751 3.645 3.954-.229.2-.436.552-.508 1.07-.457.204-1.614.557-2.328-.666 0 0-.423-.768-1.227-.825 0 0-.78-.01-.055.487 0 0 .525.246.889 1.17 0 0 .463 1.428 2.688.944v1.489c0 .211-.129.459-.528.385-3.18-1.057-5.472-4.056-5.472-7.59 0-4.419 3.582-8 8-8s8 3.581 8 8c0 3.533-2.289 6.531-5.466 7.59z"/></svg>
      </a>
    </p>
  </div>

</div>

<div id="snackbar"></div>
